body /* La marge de la page est 0 et police de caractère est en arial */
{
	margin: 0;
	font-family: sans-serif;
}

header /* Marge en bas du header de 5% */
{
	margin-bottom: 5%;
}

.container /* Tous les container sont dans une flexbox et les éléments passe à la ligne quant ils n'ont plus de place */
{
	display: flex;
}

#left /* Dimensions du côté gauche de 30% de la page, couleur de fond jaune, couleur du texte gris */
{
	width: 30%;
	background-color: #FFC107;
	color: #37474F;
	position: relative;
}

.avatar /* Position de la photo de profil à 20px et au centre du côté gauche */
{
	padding: 20px;
	text-align: center
}

.photo /* Dimensions de la photo de profil à 200px de large et 200px de haut et une bordure de 50% pour la rendre ronde */
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.title-left /* La couleur de fond des titres de gauche est grise et la couleur des titres est jaune et ils sont positionnés au centre */
{
	background-color: #37474F;
	padding: 10px;
	text-align: center;
	color: #FFC107;
}

.loisirs /* Position du bloc loisirs */
{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
}

.loisirs .fa /* Tous les icones dans le bloc loisirs ont un cercle et une couleur grise avec un espacement de 5% */
{
	border: 2px solid #37474F;
	border-radius: 50%;
	width: 40px;
	height:40px;
	padding: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

#right /* Dimensions du côté droit de 70% de la page, couleur du texte gris */
{
	width: 70%;
	color: #37474F;
	padding: 100px 5% 0 5%;
}

.prenom /* Couleur jaune du prenom et taille de 50px */
{
	color: #FFC107;
	font-size: 50px;
}

.identite /* Couleur noire du nom et taille de 50px */
{
	color: black;
	font-size: 50px;
	margin-top: -20px;
}

.title-right /* Couleur des titres de droite en noir */
{
	color: black;
}

#left div .content-left /* Toutes les div du bloc left et content-left ont une marge de 0 20px 0 20px */
{
	margin: 0 20px 0 20px;
	text-align: justify;
}

.surline /* Couleur des traits de séparations jaune et dimension de 2px */
{
	border-bottom: #FFC107 2px solid;
	margin-top: -10px;
}

.main-left /* Dimension des blocs main-left de 30% */
{
	width: 30%;
}

.main-right /* Dimension des blocs main-right de 70% */
{
	width: 70%;
}

.main-middle
{
	width: 50%;
}

#right i /* Tout les i du bloc right sont de couleur jaune */
{
	color: #FFC107;
}

.metier /* Marge haute du bloc métier à -35px */
{
	margin-top: -35px;
}

.main-left i /* Espacement des icones points de 10px à droite */
{
	padding-right: 15px;
}

.paragraphe /* Positionnement des noms des villes sous les années */
{
	margin-left: 33px;
	margin-top: -12px;
}

header .surline /* Positionnement du trait de séparation sous le titre et taille de 6% */
{
	margin-top: -20px;
	width: 6%;
}

@media screen and (max-width: 768px) /* Règles CSS pour l'affichage sur tablette */
{
	#left
	{
		width: 50%;
	}

	#right
	{
		width: 50%;
	}

	section .container
	{
		display: inherit;
	}

	.main-left, .main-right, .main-middle
	{
		width: 100%;
		text-align: justify;
	}
}

@media screen and (max-width: 480px) /* Règles CSS pour l'affichage sur mobile */
{
	.container
	{
		display: inherit;
	}

	#left, #right
	{
		width: 100%;
		text-align: center;
	}

	.loisirs
	{
		position: inherit;
		bottom: 0;
		width: 100%;
	}

	.main-left, .main-right, .main-middle
	{
		text-align: center;
	}

	#left div .content-left
	{
		text-align: center;
	}

	#right
	{
		width: 100%;
	}

	#left
	{
		width: 110%;
	}

	header .surline
	{
		display: none;
	}

	.main-left i
	{
		display: none;
	}

	.paragraphe
	{
		margin-left: 0;
		margin-top: -12px;
	}
}